<div class="form-group">
    <div>
        <label for="title">Title</label>
        <input required value="<%= artwork.title %>" type="text" name="title" id="title" class="form-control">
    </div>

    <div>
        <label for="author">Author</label>
        <input value="<%= artwork.author %>" type="text" name="author" id="author" class="form-control">
    </div>
    <!--
    <div>
        <br>
        <label for="author">Author</label>
        <select name="author">
            <% //authors.forEach(author=> { %>
                <%// if(author.id==artwork.author){%>
                    <option selected label="<%//= author.name %>" value="<%//=author.id %>"></option>
                    <% //} else { %>
                        <option label="<%//= author.name %>" value="<%//= author.id %>"></option>
                        <%// } %>
                            <% //}) %>
        </select>
    </div>
    -->
    <div>
        <label for="createdAt">Creation date</label>
        <input value="<%= artwork.createdAt == null ? '' : artwork.createdAt.toISOString().split('T')[0] %>" type="date"
            name="createdAt" id="createdAt" class="form-control">
        <!--We want a date, not a time: if date is not null -> split YEAR-MM-DDTHH:MM at the T character-->
    </div>

    <!--TAGS TO OPTIMIZE (create JS file)-->
    <div>
        <br>
        <label for="theme">Theme</label>
        <select name="theme">
            <% var themes=['Ruopu 1000', 'Transform Now' , 'My Design Helps You' ] %>
                <% themes.forEach(theme=> { if(artwork.theme == theme){%>
                    <option selected label="<%= artwork.theme %>" value="<%= artwork.theme %>"></option>
                    <% } else { %>
                        <option label="<%= theme %>" value="<%= theme%>"></option>
                        <% }}); %>
        </select>
    </div>

    <div>
        <br>
        <label for="tags">Tags
            <span id='tagsList'>
                <% if (artwork.tags !=null && !artwork.tags.includes("")){ %>
                    <textarea hidden type="text" name="tags[]" id="tags" class="form-control"><%= artwork.tags %></textarea>
                    <% artwork.tags.forEach(tag=> { %>
                        <span class="btn-dark" id="tag<%- tag%>" onclick="delTags('<%-tag%>')">#<%- tag%> <b> X</b> </span>
                        <% }) %>
                            <% }; %>
            </span>
        </label>
        <script>
            var tagsArray = []
            let artworkTags = '<%- JSON.stringify(artwork.tags)%>' //Get array from EJS data
            tagsArray = artworkTags.replace(/]|[[]/g, '').replace(/\"/g, "").split(",") 
            tagsArray = tagsArray.filter(item => item);
            //Remove brackets and quotes in data and erase empty string from stringify issues
    
            function delTags(value) {
                const index = tagsArray.indexOf(value)
                if (index > -1) {
                    tagsArray.splice(index, 1);
                }
                document.getElementById("tag" + value).remove()
                changeTags()
            }
    
            function addTags(value) {
                if (!tagsArray.includes(value)) {
                    tagsArray.push(value);
                    var node = document.createElement("span")
                    node.className = "btn-dark"
                    node.id = "tag" + value
                    node.innerHTML = "#" + value + "<b> X</b> ; "
                    node.onclick = function () { delTags(value) }
                    document.getElementById("tagsList").appendChild(node);
                }
                changeTags()
            }
    
            function changeTags() {
                if (document.getElementById("tags") != null) {
                    document.getElementById("tags").innerText = tagsArray
                } else {
                    var tagForm = document.createElement("textarea")
                    tagForm.id = "tags"
                    tagForm.name = "tags[]"
                    tagForm.innerText = tagsArray
                    tagForm.hidden = true
                    document.getElementById("tagsList").appendChild(tagForm)
                }
            }
        </script>
    
        <% var tags=['SustainableDevelopment', 'Children' , 'Artwork' ] %>
            <ul>
                <% tags.forEach(function(e) { %>
                    <li class="list-group-item list-group-item-action" onclick="addTags('<%= e%>');">
                        <%= e %>
                    </li>
                    <% }); %>
            </ul>
            <br>
    </div>

    <!--END TAGS-->
    <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="image" class="filepond">
        <!--File inputs can't have a value-->
    </div>
    <div>
        <label for="content">Content</label>
        <textarea class="form-control" name="content"><%= artwork.content %></textarea>
    </div>
</div>

<a href="/artworks?page=1&limit=3&title=" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>