<style>
    .card {
        position: relative;
        box-shadow: 10px 10px 5px -2px lightgray;
    }

    .card:hover {
        box-shadow: 10px 10px 5px -2px rgb(206, 206, 206);
    }

    .card-body {
        position: absolute;
        width: 100%;
        background-color: #3b3723;
        bottom: 0;
    }
</style>

<!-- Bootstrap Static Header (with Opacity change for article image)-->
<div style="background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('/images/doodle.jpg'); ">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">
            Children's art gallery
        </h1>
        <br>
        <p class="mb-0">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis eveniet quibusdam, minima illo iste et
            similique, necessitatibus magnam a iusto illum dicta delectus repudiandae porro magni velit distinctio.
            Alias, odio?
        </p>
    </div>
</div>

<br>
<div class="container">
    <h2>Search Artworks</h2>
    <form action="/artworks" method="GET">
        <input hidden type="text" name="page" class="form-control rounded" value="1">

        <input hidden type="text" name="limit" class="form-control rounded" value="3">
        <label>Title</label>
        <div class="input-group">
            <input type="text" name="title" class="form-control rounded" value="<%= searchOptions.title %>">
        </div>
        <label>Created At</label>
        <div class="input-group">
            <input type="date" name="createdAt" class="form-control rounded" value="<%= searchOptions.createdAt %>">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>

    <br>
    <div class="d-flex justify-content-center flex-wrap-reverse">
        <% artworks.forEach(artwork=> { %>
            <div class="card" style="width: 18rem; margin: 2rem;">
                <a href="/artworks/<%= artwork.id%>" class="art-anchor">
                    <img class="card-img-top" src="<%= artwork.artworkImagePath %>" alt="Card image cap">

                    <div class="card-body">
                        <h4 class="card-title">
                            <%= artwork.title %>
                        </h4>
                    </div>
                </a>
            </div>
            <br>
            <% }) %>
    </div>

    <!--Put a PAGINATION between Articles with miniatures-->
    <hr>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <% var active = "active"%>
            <% if(previous !=null) {%>
                <li class="page-item">
                    <a class="p-link"
                        href="artworks?page=<%= previous['page'] %>&limit=<%= previous['limit']%>&title=<%= previous['title']%>">
                        <i class="fa fa-angle-left"></i>
                        Previous</a>
                </li>
                <% } %>

                    <% for(var i=1; i<=count['count']; i++) { %>
                        <li class="page-item <% if((previous !=null && previous['page'] == (i-1)) || (next !=null && next['page'] == (i+1))) {%>
                            <%= active%>
                            <%}%>">
                            <a 
                            class="p-link"
                                href="artworks?page=<%= i%>&limit=<%= count['limit']%>&title=<%= count['title']%>">
                                <i class="fa fa-circle"></i>
                            <br>
                            <%= i%>
                            </a></li>
                        <%}%>

                            <% if(next !=null) {%>
                                <li class="page-item">
                                    <a class="p-link"
                                        href="artworks?page=<%- next['page'] %>&limit=<%- next['limit']%>&title=<%= next['title']%>">
                                       Next
                                            <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <% } %>
        </ul>
    </div>
</div>