<style>
    div.card {
        border: solid 3px;
        border-radius: 2rem;
        overflow: hidden;
        border-color: #e4af56;
        box-shadow: 10px 10px 5px -2px lightgray;
    }

    div.card:nth-child(2) {
        border-color: #7DD2C1;
    }

    div.card:nth-child(3) {
        border-color: #de6049;
    }

    .triangle {
        width: 0;
        height: 0;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-right: 3rem solid #e4af56;
        box-shadow: -10px 10px 5px -2px lightgray;
        transform: rotate(200deg);
    }
</style>

<style>
    .art-img:first-of-type {
        width: 10rem;
        height: 9rem;
        transform: rotate(-10deg) translate(-60%);
    }

    @keyframes slideFirstImage {
        0% {
            left: 0
        }

        100% {
            left: 50%;
        }
    }

    @keyframes slideFirstImageBack {
        0% {
            left: 50%;
        }

        100% {
            left: -10%;
        }
    }

    .art-img:nth-of-type(2) {
        top: 12%;
    }

    @keyframes slideSecondImage {
        0% {
            left: -50%
        }

        100% {
            left: 0
        }
    }

    @keyframes slideSecondImageBack {
        0% {
            left: 0
        }

        100% {
            left: -50%
        }
    }

    @keyframes slideThirdImage {
        0% {
            left: 50%
        }

        100% {
            left: -50%
        }
    }

    @keyframes slideThirdImageBack {
        0% {
            left: -50%
        }

        100% {
            left: 50%
        }
    }

    @media screen and (min-width: 600px) {
        .art-text:nth-of-type(3) {
        top: 70%; 
        left: 45%;
    }

    .art-text:first-of-type {
        width: 40%;
    }

        @keyframes slideFirstImage {
            0% {
                left: 0
            }

            100% {
                left: 15%;
            }
        }

        @keyframes slideFirstImageBack {
            0% {
                left: 15%;
            }

            100% {
                left: 0;
            }
        }

        @keyframes slideThirdImage {
            0% {
                left: 50%
            }

            100% {
                left: -15%
            }
        }

        @keyframes slideThirdImageBack {
            0% {
                left: -15%
            }

            100% {
                left: 50%
            }
        }

    }

    .art-text:first-of-type {
        transform: rotate(-90deg);
    }

    .art-text:nth-of-type(2) {
        /**/
    }

    .art-text:nth-of-type(3) {
        top: 10%; 
        left: 55%;
    }

    @keyframes slideUp {
        to {
            transform: translate(0%, 0%);
        }
    }

    @keyframes slideUp2 {
        to {
            transform: translate(100%, 0%);
        }
    }

    @keyframes slideDown {
        from {
            transform: translate(100%, 0%);
        }

        to {
            transform: translate(0%, 0%) rotate(-90deg);
        }
    }

    @keyframes slideDown2 {
        from {
            transform: translate(100%, 0%);
        }

        to {
            transform: translate(0%, 0%);
        }
    }
</style>

<section style="height: 45rem;">
    <h1 class="text-center" id="text" style="top: 0;">Ruopu Art Space</h1>
    <h4 class="text-center">Have a nice productive day! &#128150; </h4>
    <img src="/images/watercolor2.png" id="wc2">
    <img style="width: 20rem; height: 18rem; border-radius: 10rem; left: 70%; top:15%" src="/images/watercolor3.jpg"
        id="wc3">
    <img style="width: 25rem; height: 25rem; border-radius: 6rem; left: 5%; top:10%" src="/images/watercolor1.jpg"
        id="wc1">
    <img style="width: 40rem; height: 18rem; border-radius: 10rem; left: 50%; top:50%" src="/images/girl.jpg" id="girl">
    <div class="text-center" id="text2">
        <h3 id="Val">Our Mission/Values</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quia cupiditate aliquid aut incidunt
            alias dolore quos doloribus.</p>
        <a id="btn" href="#" class="btn btn-primary">Learn More</a>
    </div>
</section>

<!--Latest News: Shows the 3 most recent articles-->
<br>
<div class="container">
    <h2 class="text-center" style="color: #7DD2C1;"><b>Last News</b></h2>
    <p style="margin: 0% 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum quisquam nihil
        facere. Hic accusamus commodi qui, voluptas, error repudiandae magni eius quo eligendi vero aliquam unde, quasi
        dolor maxime?</p>
    <div class="d-flex justify-content-center flex-wrap">
        <% articles.forEach(article=> { %>
            <div class="card mt-4" style="width: 18rem; margin: 2rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= article.title %> - <%= article.createdAt.toLocaleDateString() %>
                    </h4>
                    <div class="card-ext mb-2">
                        <%= article.summary %>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <img class="rounded-circle" style="width: 2rem; height: 2rem; "
                            src="https://via.placeholder.com/150">
                        <!--author or user.userImagePath-->
                        <span>Written by <%= article.author.pseudo %></span>
                        <a href="articles/<%= article.slug %>" class="btn"
                            style="background-color: #e4af56; border-radius: 5rem;"><i class="bi bi-book"> </i></a>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
    <br>
    <div style="text-align:center">
        <a href="articles" class="btn btn-outline-dark">See more</a>
    </div>
</div>

<!--Art is for everyone: Shows pictures and motivational text-->
<br>
<br>
<div class="text-center">
    <h2 style="color: #de6049;"><b>Art is for Everyone</b></h2>
    <p style="margin: 0% 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<br>
<section class="art-section" style="background-color: whitesmoke;">
    <!--
        <img class="art1" style="width: 10rem; height: 9rem; top: 10rem; left:10rem;" src="/images/watercolor2.png">
    <img class="art2" style="width: 10rem; height: 9rem; right: 10rem;" src="/images/watercolor3.jpg">
    <img id="art3" style="width: 10rem; height: 15rem; top: 20rem;" src="/images/watercolor1.jpg">
    <img id="art4" style="width: 20rem; height: 9rem; left: 10rem;" src="/images/girl.jpg"> 
-->
    <img class="art-img" src="/images/ras_girl.png">
    <img class="art-img" src="/images/pencil.png" style="width: fit-content; max-width: 22rem;">
    <img class="art-img" src="/images/handLeft.png" style="width: fit-content; max-width: 20rem; top:2rem" >
    <img class="art-img" src="/images/handRight2.png" style="width: fit-content; min-width: 10rem;">

    <div class="art-text">
        <h3>Show your creativity!</h3>
        <p> dolor sit amet, consectetur adipisicing elit. Magni quia cupiditate aliquid aut incidunt
            alias dolore quos doloribus.</p>
            <div>
                <a href="/artworks?page=1&limit=3&title=" class="btn btn-outline-dark" style="font-size: 2rem;"> See Gallery</a>
            </div>
    </div>
    <div class="art-text">
        <!--<h3>Show your creativity!</h3>-->
    </div>
</section>

<!--MtT: Shows main employees of the NGO-->
<br>
<div class="container">
    <h2 id="Team" class="text-center"><b>Meet the Team</b></h2>
    <p style="margin: 0% 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum quisquam nihil
        facere. Hic accusamus commodi qui, voluptas, error repudiandae magni eius quo eligendi vero aliquam unde, quasi
        dolor maxime?</p>
    <div class="d-flex justify-content-center flex-wrap">
        <%var teamMembers=["Xiang Yang", "Yang Yi" , "Yuan Hao" , "Qian Yuxi" ] %> <!--//Liu Ye -->
            <%var roles=["Director", "Deputy Director" , "Supervisor" , "Translator" ]%>
                <%var Linlinks=["#", "#" , "#" , "#" ]%> <!--//https://www.linkedin.com/in/AmandaDieuaide-->
                    <%var Weilinks=["#", "#" , "#" , "#" ]%>
                        <% for(var i=0; i <teamMembers.length; i++ ) { %>
                            <div class="d-flex text-center flex-column" style="margin: 2rem;">
                                <img class="rounded-circle" style="width: 10rem; height: 10rem; margin-bottom: 2rem;"
                                    src="/images/ras_girl.png">
                                <h4>
                                    <%= teamMembers[i]%>
                                </h4>
                                <p>
                                    <%= roles[i]%>
                                </p>
                                <span>
                                    <a href="<%= Linlinks[i]%>"><i class="fa fa-linkedin"></i></a>
                                    <a href="<%= Weilinks[i]%>"><i class="fa fa-weixin"></i></a>
                                </span>
                            </div>
                            <% } %>
    </div>
    <div style="text-align:center">
        <a href="#" class="btn btn-outline-dark">View the team</a>
    </div>
</div>

<!--Functions-Animations-->
<script>
    let wc2 = document.getElementById('wc2');
    let wc1 = document.getElementById('wc1');
    let wc3 = document.getElementById('wc3');
    let girl = document.getElementById('girl');
    let text = document.getElementById('text');
    let text2 = document.getElementById('text2');
    let btn = document.getElementById('btn');

    window.addEventListener('scroll', function () {
        let value = window.scrollY;
        wc2.style.top = value * 0.5 + 'px';
        wc3.style.top = value + 'px';
        wc3.style.left = value + 'px';
        girl.style.top = value * 0.75 + 'px'
        girl.style.right = '-' + value + 'px'
        //girl.style.right = value * 1.5 + 'px';
        //girl.style.bottom = value * 1.5+ 'px';
        wc1.style.top = value * 1.5 + 'px';
        text.style.marginTop = value * 0.75 + 'px';
        text2.style.marginTop = value * 0.75 + 'px';
    })
</script>

<script>
    const memoriesSection = document.querySelector('.art-section')
    const artworks = document.getElementsByClassName('art-img')
    const arttexts = document.getElementsByClassName('art-text')

    document.addEventListener('scroll', function () {
        const clientHeight = document.documentElement.clientHeight;
        const memoriesSectionY = memoriesSection.getBoundingClientRect().y;
        const memoriesSectionHeight = memoriesSection.getBoundingClientRect().height;

        //Make sure the highest point of the section is in the viewpoint and 2/3 of the section's height
        if (clientHeight > memoriesSectionY + (memoriesSectionHeight * 2) / 3) {
            //alert("DFFFFFFFF")
            artworks[0].style.animation = 'slideFirstImage 1s forwards ';
            artworks[2].style.animation = "slideSecondImage 1.4s forwards ";
            artworks[3].style.animation = "slideThirdImage 1.4s forwards ";

            arttexts[0].style.animation = 'slideUp 1s forwards';
            arttexts[1].style.animation = 'slideUp2 1s forwards';
        }
        if (clientHeight < memoriesSectionY + (memoriesSectionHeight * 2) / 3) {
            artworks[0].style.animation = 'slideFirstImageBack 1s forwards';
            artworks[2].style.animation = "slideSecondImageBack 1.4s forwards";
            artworks[3].style.animation = "slideThirdImageBack 1.4s forwards ";

            arttexts[0].style.animation = 'slideDown 1s forwards';
            arttexts[1].style.animation = 'slideDown2 1s forwards';
        }
    })
</script>