<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="summary">Summary</label>
    <textarea type="text" name="summary" id="summary" class="form-control"><%= article.summary %></textarea>
</div>

<div>
    <br>
    <label for="theme">Theme</label>
    <select name="theme">
        <% var themes=['Ruopu 1000', 'Transform Now' , 'My Design Helps You' ] %>
            <% themes.forEach(theme=> { if(article.theme == theme){%>
                <option selected label="<%= article.theme %>" value="<%= article.theme %>"></option>
                <% } else { %>
                    <option label="<%= theme %>" value="<%= theme%>"></option>
                    <% }}); %>
    </select>
</div>

<div>
    <br>
    <label for="tags">Tags
        <span id='tagsList'>
            <% if (article.tags !=null && !article.tags.includes("")){ %>
                <textarea hidden type="text" name="tags[]" id="tags" class="form-control"><%= article.tags %></textarea>
                <% article.tags.forEach(tag=> { %>
                    <span class="btn-dark" id="tag<%- tag%>" onclick="delTags('<%-tag%>')">#<%- tag%> <b> X</b> </span>
                    <% }) %>
                        <% }; %>
        </span>
    </label>
    <script>
        var tagsArray = []
        let articleTags = '<%- JSON.stringify(article.tags)%>' //Get array from EJS data
        tagsArray = articleTags.replace(/]|[[]/g, '').replace(/\"/g, "").split(",") 
        tagsArray = tagsArray.filter(item => item);
        //Remove brackets and quotes in data and erase empty string from stringify issues

        function delTags(value) {
            const index = tagsArray.indexOf(value)
            if (index > -1) {
                tagsArray.splice(index, 1);
            }
            document.getElementById("tag" + value).remove()
            changeTags()
        }

        function addTags(value) {
            if (!tagsArray.includes(value)) {
                tagsArray.push(value);
                var node = document.createElement("span")
                node.className = "btn-dark"
                node.id = "tag" + value
                node.innerHTML = "#" + value + "<b> X</b> ; "
                node.onclick = function () { delTags(value) }
                document.getElementById("tagsList").appendChild(node);
            }
            changeTags()
        }

        function changeTags() {
            if (document.getElementById("tags") != null) {
                document.getElementById("tags").innerText = tagsArray
            } else {
                var tagForm = document.createElement("textarea")
                tagForm.id = "tags"
                tagForm.name = "tags[]"
                tagForm.innerText = tagsArray
                tagForm.hidden = true
                document.getElementById("tagsList").appendChild(tagForm)
            }
        }
    </script>

    <% var tags=['SustainableDevelopment', 'Children' , 'Artwork' ] %>
        <ul>
            <% tags.forEach(function(e) { %>
                <li class="list-group-item list-group-item-action" onclick="addTags('<%= e%>');">
                    <%= e %>
                </li>
                <% }); %>
        </ul>
        <br>
</div>

<div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image" class="filepond">
    <!--File inputs can't have a value-->
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required type="text" name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/articles?page=1&limit=3" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>