<div class="container">
    <h1 class="mb-4"> Recent events (Articles and Workshops)

    </h1> <!-- We pass js objects though %-->
    <% if(isAdmin){ %> 
    <a href="/articles/new" class="btn btn-success">New Article</a>
    <% } %> 

    <% articles.forEach(article=> { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">
                    <%= article.title %>
                </h4>
                <div class="card-subtitle text-muted mb-2">
                    <%= article.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-ext mb-2">
                    <%= article.summary %>
                </div>
                <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>

                <% if(isAdmin){ %> 
                <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                <% } %> 
                
                <%- include('../partials/deleteForm', {url: `/articles/${article.id}`, isAuthor: ''}) %>
            </div>
        </div>
        <% }) %>

            <!--Put a PAGINATION between Articles with miniatures-->
            <hr>
            <div class="d-flex justify-content-between">
                <% if(previous !=null) {%>
                    <a href="articles?page=<%= previous['page'] %>&limit=<%= previous['limit']%>">
                        <i class="fa fa-angle-left"></i>
                        Previous <%= previous['page']%></a>
                    <% } %>
                        <% if(next !=null) {%>
                            <a href="articles?page=<%- next['page'] %>&limit=<%- next['limit'] %>">
                                <%- next['page'] %> Next
                                    <i class="fa fa-angle-right"></i>
                            </a>
                            <% } %>
            </div>
</div>