<div class="container">
    <h1 class="mb-4">
        <%= article.title %>
    </h1>
    <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/articles" class="btn btn-secondary">
        All articles
    </a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-secondary">
        Edit
    </a>

    <!--MAIN ARTICLE-->
    <div class="lead text-justify">
        <%- article.sanitizedHTML %>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim exercitationem numquam aperiam impedit
            tenetur illum sapiente nobis saepe a ipsum, asperiores minima, harum distinctio fugiat eius, sit ex quia
            alias?
    </div>

    <!--SHARE and LIKES-->
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <%- include("_like.ejs", {url:`/articles/${article.slug}/like`, replies: `${article.likes.length}`}) %>
        </div>

        <div>#InsertTagsHere</div>

        <div>
            <a class="btn btn-dark" href="#!" role="button">
                <i class="fa fa-weixin"></i></a>
            <a class="btn btn-dark" href="#!" role="button">
                <i class="fa fa-twitter"></i></a>
            <a class="btn btn-dark" href="#!" role="button">
                <i class="fa fa-linkedin"></i></a>
        </div>
    </div>

    <!--COMMENT SECTION-->
    <div class="card my-4">
        <h4 class="card-header">Leave a Comment:</h4>
        <div class="card-body">
            <form method="POST" action="/articles/<%= article.slug %>">
                <%- include('newComment') %>
            </form>
        </div>
    </div>

    <!--SINGLE Comment-->
    <% for (var i=article.comments.length-1; i>= 0 ; i--) { %>
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="/images/default-user.jpg" style="height: 3rem; width: 3rem;"
                alt="pp">
            <div class="media-body" style="word-break: break-all;">
                <div>
                    <h4 class="mt-0">
                        <% if(article.comments[i].author !=null){ %>
                            <!--NEVER FORGET THIS LINE OMG, gets rid of "property of undefined" error-->
                            <%= article.comments[i].author.pseudo %>
                                <%}%>
                    </h4>
                </div>
                <%= article.comments[i].content %>
                    <br>

                    <div class="pull-right reply"> <a id='reply<%- i %>'><span><i class="fa fa-reply"></i>
                                reply</span></a>
                                <i class="fa fa-comment" aria-hidden="true"></i>
                            <%= article.comments[i].replies.length%>

                        <%- include("_like.ejs", {url:`/articles/${article.slug}/${article.comments[i]._id}/like`, replies: `${article.comments[i].likes.length}`}) %>
                            


                    </div>

                    <div>
                        <!--AUTHORISATION TODO-->
                        <br>
                        <%- include('../partials/deleteForm', {url:
                            `/articles/${article.slug}/${article.comments[i]._id}`}) %>

                            <button class="btn btn-primary" id="showEdit<%- i%>"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>
                            </button>
                            <div id="editComment<%- i%>" style="display: none;">
                                <br>
                                <%- include('editComment', {url: `/articles/${article.slug}/${article.comments[i]._id}`,
                                    placeholder: `${article.comments[i].content}`}) %>
                                    <button class="btn btn-danger" id="hideEdit<%- i%>">Cancel</button>
                            </div>

                            <!--Nested Comments-->
                            <div id="replyCom<%- i%>" style="display: none;">
                                <form method="POST"
                                    action="/articles/<%= article.slug %>/<%= article.comments[i]._id %>">
                                    <br>
                                    <%- include('newComment') %>
                                        <button class="btn btn-danger" id="hideReply<%- i%>">Cancel</button>
                                </form>
                            </div>
                    </div>

                    <!--REPLY-->
                    <% if(article.comments[i].replies){ %>
                        <% article.comments[i].replies.forEach(reply=> { %>
                            <br>
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="/images/default-user.jpg"
                                    style="height: 3rem; width: 3rem;" alt="pp">
                                <div class="media-body">
                                    <h4 class="mt-0">User Name</h4>
                                    <div class="col-4">
                                    </div>
                                    <%= reply.content %>

                                        <!--Admin Only-->
                                        <div>
                                            <br>
                                            <%- include('../partials/deleteForm', {url:
                                                `/articles/${article.slug}/${reply._id}`}) %>

                                                <button class="btn btn-primary" id="showEdit<%= reply._id%>"><i
                                                        class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <div id="editComment<%= reply._id %>" style="display: none;">
                                                    <br>
                                                    <%- include('editComment', {url:
                                                        `/articles/${article.slug}/${reply._id}`, placeholder:
                                                        `${reply.content}`}) %>
                                                        <button class="btn btn-danger"
                                                            id="hideEdit<%= reply._id%>">Cancel</button>
                                                </div>

                                        </div>
                                </div>
                                <script>
                                    document.getElementById("showEdit<%= reply._id%>").addEventListener("click", function () {
                                        document.getElementById('editComment<%= reply._id%>').style.display = "block";
                                    });
                                    document.getElementById("hideEdit<%= reply._id%>").addEventListener("click", function () {
                                        document.getElementById('editComment<%= reply._id%>').style.display = "none";
                                    });
                                </script>
                            </div>
                            <% }); %>
                                <!--END of Reply-->

                                <% } %>

            </div>
            <script>
                document.getElementById("showEdit<%- i%>").addEventListener("click", function () {
                    document.getElementById('editComment<%- i%>').style.display = "block";
                });
                document.getElementById("hideEdit<%- i%>").addEventListener("click", function () {
                    document.getElementById('editComment<%- i%>').style.display = "none";
                });
            </script>

            <script>
                document.getElementById(`reply<%- i%>`).addEventListener("click", function () {
                    document.getElementById('replyCom<%- i%>').style.display = "block";
                });
                document.getElementById("hideReply<%- i%>").addEventListener("click", function () {
                    document.getElementById('replyCom<%- i%>').style.display = "none";
                });
            </script>
        </div>
        <% } %>
            <!--End of Commment section-->
</div>

<!--Put a PAGINATION between Articles with miniatures-->
